.container{
    display:flex;
    height:100vh;
    gap:20px;
    align-items: center;
    justify-content:center;

}
.box1, .box2, .box3{
    background-color:#efecec;
    height:35%;
    width:33%;
    border:solid black 1px;
    text-align:center;
    border-radius:5px;
    max-width:400px;
}
button{
    background-color:#86e40b;
    border-radius:3px;
    padding:5px;
    border:none;
}
@media (max-width: 700px){
    .container{
        flex-direction:column;

    }
    button{
        margin-bottom:5px;
    }
    .box1, .box2, .box3{ 
        height:auto; 
        width:60%;
    }
}
@media (max-width: 350px){
    .container{
        flex-direction:column;
    }
    button{
        margin-bottom:5px;
    }
    .box1,.box2,.box3{
        height:auto;
        width:auto;
    }
}